@font-face {
  font-family: 'Hobeaux';
  src: url('../public/fonts/Hobeaux-Black/Hobeaux-Black.eot');
  src:
    url('../public/fonts/Hobeaux-Black/Hobeaux-Black.eot?#iefix') format('embedded-opentype'),
    url('../public/fonts/Hobeaux-Black/Hobeaux-Black.woff') format('woff'),
    url('../public/fonts/Hobeaux-Black/Hobeaux-Black.woff2') format('woff2'),
    url('../public/fonts/Hobeaux-Black/Hobeaux-Black.ttf') format('truetype'),
    url('../public/fonts/Hobeaux-Black/Hobeaux-Black.svg#Hobeaux-Black') format('svg');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Hobeaux';
  src: url('../public/fonts/Hobeaux-Bold/Hobeaux-Bold.eot');
  src:
    url('../public/fonts/Hobeaux-Bold/Hobeaux-Bold.eot?#iefix') format('embedded-opentype'),
    url('../public/fonts/Hobeaux-Bold/Hobeaux-Bold.woff') format('woff'),
    url('../public/fonts/Hobeaux-Bold/Hobeaux-Bold.woff2') format('woff2'),
    url('../public/fonts/Hobeaux-Bold/Hobeaux-Bold.ttf') format('truetype'),
    url('../public/fonts/Hobeaux-Bold/Hobeaux-Bold.svg#Hobeaux-Bold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Hobeaux';
  src: url('../public/fonts/Hobeaux-Semibold/Hobeaux-Semibold.eot');
  src:
    url('../public/fonts/Hobeaux-Semibold/Hobeaux-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../public/fonts/Hobeaux-Semibold/Hobeaux-Semibold.woff') format('woff'),
    url('../public/fonts/Hobeaux-Semibold/Hobeaux-Semibold.woff2') format('woff2'),
    url('../public/fonts/Hobeaux-Semibold/Hobeaux-Semibold.ttf') format('truetype'),
    url('../public/fonts/Hobeaux-Semibold/Hobeaux-Semibold.svg#Hobeaux-Semibold') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Hobeaux';
  src: url('../public/fonts/Hobeaux-Regular/Hobeaux-Regular.eot');
  src:
    url('../public/fonts/Hobeaux-Regular/Hobeaux-Regular.eot?#iefix') format('embedded-opentype'),
    url('../public/fonts/Hobeaux-Regular/Hobeaux-Regular.woff') format('woff'),
    url('../public/fonts/Hobeaux-Regular/Hobeaux-Regular.woff2') format('woff2'),
    url('../public/fonts/Hobeaux-Regular/Hobeaux-Regular.ttf') format('truetype'),
    url('../public/fonts/Hobeaux-Regular/Hobeaux-Regular.svg#Hobeaux-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Hobeaux';
  src: url('../public/fonts/Hobeaux-Light/Hobeaux-Light.eot');
  src:
    url('../public/fonts/Hobeaux-Light/Hobeaux-Light.eot?#iefix') format('embedded-opentype'),
    url('../public/fonts/Hobeaux-Light/Hobeaux-Light.woff') format('woff'),
    url('../public/fonts/Hobeaux-Light/Hobeaux-Light.woff2') format('woff2'),
    url('../public/fonts/Hobeaux-Light/Hobeaux-Light.ttf') format('truetype'),
    url('../public/fonts/Hobeaux-Light/Hobeaux-Light.svg#Hobeaux-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  background: #333;

  font-family:
    'Hobeaux',
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
}

.nice-bg {
  background: #fafafa url(../public/images/final_bg.webp) left top repeat;
}

.btn-58,
.btn-58 *,
.btn-58 :after,
.btn-58 :before,
.btn-58:after,
.btn-58:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-58 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-size: 120%;
  line-height: 1.5;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
}

.btn-58:disabled {
  cursor: default;
}

.btn-58:-moz-focusring {
  outline: auto;
}

.btn-58 svg {
  display: block;
  vertical-align: middle;
}

.btn-58 [hidden] {
  display: none;
}

.btn-58 {
  background: none;
  border-radius: 999px;
  box-sizing: border-box;
  color: #fff;
  display: block;
  font-weight: 900;
  -webkit-mask-image: none;
  position: relative;
  text-transform: uppercase;
}

.btn-58:before {
  background: #fff;
  border-radius: 999px;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.btn-58:after,
.btn-58:before {
  content: '';
  pointer-events: none;
  position: absolute;
  transition: 0.4s;
  z-index: -1;
}

.btn-58:after {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background: hsla(0, 0%, 100%, 0.2);
  border-radius: 50%;
  height: 30px;
  left: 90%;
  top: 80%;
  width: 30px;
}

.btn-58:hover:before {
  height: 90%;
  left: 5%;
  top: 10%;
  width: 90%;
}

.btn-58:hover:after {
  border-radius: 10px;
  height: 80%;
  left: 5%;
  top: 10%;
  width: 90%;
}

/* on mobile apply hover effect by default */
@media (hover: none) {
  .btn-58:before {
    height: 90%;
    left: 5%;
    top: 10%;
    width: 90%;
  }

  .btn-58:after {
    border-radius: 10px;
    height: 80%;
    left: 5%;
    top: 10%;
    width: 90%;
  }
}

.three-d-text {
  text-transform: uppercase;
  font-weight: 700;
  text-shadow:
    1px 1px 1px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191;
}
